.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    color: #222222;
}
.about .content .btn-learn-more:hover {
    background: #14279b;
    color: #fff;
    text-decoration: none;
}

.about .content .btn-learn-more {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.3s;
    line-height: 1;
    color: #14279b;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    margin-top: 6px;
    border: 2px solid #14279b;
}
a:hover {
    color: #5faee3;
    text-decoration: none;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}
.section-title h2::before {
    margin: 0 15px 10px 0;
}
.section-title h2::before, .section-title h2::after {
    content: '';
    width: 50px;
    height: 2px;
    background: #14279b;
    display: inline-block;
}


.section-title h2::after {
    margin: 0 0 10px 15px;
}
.section-title h2::before, .section-title h2::after {
    content: '';
    width: 50px;
    height: 2px;
    background: #14279b;
    display: inline-block;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.about .content ul li {
    padding-left: 28px;
    position: relative;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}
.about .content ul {
    list-style: none;
    padding: 0;
}

@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}



























/* .section-title h2 ::before{
    margin: 0 15px 10px 0;
}
.section-title h2 ::before, .section-title h2::after {
    content :'';
    width: 50px;
    height: 2px;
    background: #14279b;
    display: inline-block;
}
* ,::after,::before{
    box-sizing: border-box;
}

.section-title{
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    color: #222222;
}

.section-title h2 ::before{
    content: '';
    width: 50px;
    height: 2px;
    background: #14279b;
    display: inline-block;

}
p{
    margin-top: 0;
    margin-bottom: 1rem;
}
ul{
    list-style-type: disc;
}

.learn-more-btn{
    font:16px;
color:#14279b;
text-decoration: none;

}
.learn-more-btn :hover{
    color: aqua;
} */
